img {
    pointer-events: none;
}

.Full-Logo {
    display: block;
    margin: 8rem auto 3rem;
}

.signup-login-card {
    position: relative;
    max-width: 32rem;
    left: 0;
    right: 0;
    margin: auto;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #F5F5F5;
    z-index: -10;
}

/* FOR FOOTER */
#page-container {
    position: relative;
    min-height: 100vh;
}

#page-content {
    padding-bottom: 4rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
}
