img {
    pointer-events: none;
}

.Full-Logo {
    display: block;
    margin: 8rem auto 3rem;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.td-center {
    text-align: center;
}

.no-decoration {
    text-decoration: none;
}
