body {
  background-color: #F0F2F5;
  user-select: none;
}

img {
  pointer-events: none;
}

.marg-top {
  margin-bottom: 1rem;
}

.align-right {
  float: right;
}

.Full-Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  margin-bottom: 3rem;
  
}











