.padding-container-0 {
    padding: 0rem;
}

.padding-container {
    padding: 1rem;
}

.padding-container-2 {
    padding: 2rem;
}

.padding-container-3 {
    padding: 3rem;
}


.chip {
    position: absolute;
    margin-top: -16px;
    margin-left: 16px;
}
